# Ignore everything by default
*

# Allow docker-compose.yaml and README.md in any folder and in root
!docker-compose.yaml
!*/docker-compose.yaml
!README.md
!*/README.md
!.gitignore

# Allow PowerShell scripts
!*.ps1
!*/*.ps1

# Allow secrets folder and JSON files
!secrets/
!secrets/*.json
!*/secrets/
!*/secrets/*.json

# Ignore common volume and data folders
volume/
volumes/
data/
*/volume/
*/volumes/
*/data/